---
import '../styles/global.css';
import { siteMeta } from '../config/site';

import Background from '../components/Background.astro';
---

<!doctype html>
<html lang={siteMeta.locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={siteMeta.favicon} />
    <title>{siteMeta.title}</title>
    <meta name="description" content={siteMeta.description} />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="darkreader-lock" />
    <meta property="og:title" content={siteMeta.title} />
    <meta property="og:description" content={siteMeta.description} />
    <meta property="og:type" content="website" />
    <link
      rel="preload"
      href="/fonts/Raleway.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <Background />
    <slot />
    <!-- NMG (No More Ground) -->
  </body>
</html>

<style>
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600 700;
    font-display: swap;
    src: url('/fonts/Raleway.woff2') format('woff2');
  }

  html,
  body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    margin: 0;
    width: 100svw;
    height: 100svh;

    /* intro fade-in animation props */
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0.0001; /* weird Chromium bug if it's 0 */
    }
    to {
      opacity: 1;
    }
  }
</style>
